In [17]:
# GroupBy sorting

import pandas as pd

df2 = pd.DataFrame({'x' : ["B" , "A" ,"A", "B"] , "y" : [1,2,30,4]})
# จัดกลุ่มตาม x 
df2.groupby(["x"]).sum()

# เรียงจากน้อยไปมาก 
df2.groupby(["x"],sort=False).sum()

    y
x
B   5
A  32

In [20]:
# groupby will preserve the order in which observations are sorted within each group

import pandas as pd

df3 = pd.DataFrame({"X": ["A", "B", "A", "B"], "Y": [1, 4, 3, 2]})

# จัดกลุ่มตาม X  เอาแค่ group A 
df3.groupby(["X"]).get_group("A")

# จัดกลุ่มตาม X  เอาแค่ group B
df3.groupby(["X"]).get_group("B")

   X  Y
1  B  4
3  B  2